@model IEnumerable<PingModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td>Time</td>
            <td>Temp</td>
            <td>Humidity</td>
            <td>Location</td>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.PingTime</td>
                <td>@item.Temperature</td>
                <td>@item.Humidity</td>
                <td>@item.Location</td>
            </tr>
        }


    </table>
</div>
